<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/index.css}" />
</head>
<body>
<div class="row">
    <div class="flex">
        <div th:text="${message}">
        </div>
        <div th:text="${index}">
        </div>
    </div>
</div>
<div class="row">
    <div class="flex">
        <div>
            Current dir
        </div>
        <div th:text="${dir}">

        </div>
    </div>
</div>
<div class="container">
    <div th:utext="${content}"></div>
</div>

</body>
</html>